In [0]:
#Simple Where clause to filter out country = France

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(col("*"))\
    .where(col("Country") == "France")\
    .show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 5 rows

+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|   536370|    22728|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22727|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22726|ALARM CLOCK BAKEL...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    21724|PANDA AND BUNNIES...|      12|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21883|    STARS GIFT TAPE |      24|12-01-2010 08:45|     0.65|     12583| France|
|   536370|    10002|INFLATABLE POLITI...|      48|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21791|VINTAGE HEADS AND...|      24|12-01-2010 08:45|     1.25|     12583| France|
|   536370|    21035|SET/2 RED RETROSP...|      18|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22326|ROUND SNACK BOXES...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22629| SPACEBOY LUNCH BOX |      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22659|LUNCH BOX I LOVE ...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22631|CIRCUS PARADE LUN...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22661|CHARLOTTE BAG DOL...|      20|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21731|RED TOADSTOOL LED...|      24|12-01-2010 08:45|     1.65|     12583| France|
|   536370|    22900| SET 2 TEA TOWELS...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    21913|VINTAGE SEASIDE J...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22540|MINI JIGSAW CIRCU...|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22544|MINI JIGSAW SPACEBOY|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22492|MINI PAINT SET VI...|      36|12-01-2010 08:45|     0.65|     12583| France|
|   536370|     POST|             POSTAGE|       3|12-01-2010 08:45|     18.0|     12583| France|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
only showing top 20 rows

In [0]:
#Count number of records

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(count(col("*"))).show()

In [0]:
#To find minimum and maximum Unit Price

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(min(col("UnitPrice")).alias("Minimum_Unit_Price")).show()
df.select(max(col("UnitPrice")).alias("Maximum_Unit_Price")).show()

In [0]:

#To display distinct countries 
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(col("Country").alias("Distinct_Country")).distinct().show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 5 rows

+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|   536370|    22728|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22727|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22726|ALARM CLOCK BAKEL...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    21724|PANDA AND BUNNIES...|      12|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21883|    STARS GIFT TAPE |      24|12-01-2010 08:45|     0.65|     12583| France|
|   536370|    10002|INFLATABLE POLITI...|      48|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21791|VINTAGE HEADS AND...|      24|12-01-2010 08:45|     1.25|     12583| France|
|   536370|    21035|SET/2 RED RETROSP...|      18|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22326|ROUND SNACK BOXES...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22629| SPACEBOY LUNCH BOX |      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22659|LUNCH BOX I LOVE ...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22631|CIRCUS PARADE LUN...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22661|CHARLOTTE BAG DOL...|      20|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21731|RED TOADSTOOL LED...|      24|12-01-2010 08:45|     1.65|     12583| France|
|   536370|    22900| SET 2 TEA TOWELS...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    21913|VINTAGE SEASIDE J...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22540|MINI JIGSAW CIRCU...|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22544|MINI JIGSAW SPACEBOY|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22492|MINI PAINT SET VI...|      36|12-01-2010 08:45|     0.65|     12583| France|
|   536370|     POST|             POSTAGE|       3|12-01-2010 08:45|     18.0|     12583| France|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
only showing top 20 rows

+--------+
|count(1)|
+--------+
|  541909|
+--------+

+------------------+
|Minimum_Unit_Price|
+------------------+
|         -11062.06|
+------------------+

+------------------+
|Maximum_Unit_Price|
+------------------+
|           38970.0|
+------------------+

+----------------+
|Distinct_Country|
+----------------+
|          Sweden|
|         Germany|
|          France|
|         Belgium|
|           Italy|
|            EIRE|
|       Lithuania|
|          Norway|
|           Spain|
|         Denmark|
|         Iceland|
| Channel Islands|
|          Cyprus|
|     Switzerland|
|           Japan|
|          Poland|
|        Portugal|
|       Australia|
|         Austria|
|  United Kingdom|
+----------------+
only showing top 20 rows

In [0]:
#Average Unit Price

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(avg(col("UnitPrice")).alias("Average_Unit_Price")).show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 5 rows

+------------------+
|Average_Unit_Price|
+------------------+
| 4.611113626089712|
+------------------+

In [0]:
#sum of Unit Price

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(sum(col("UnitPrice")).alias("Total_Unit_Price")).show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 5 rows

+----------------+
|Total_Unit_Price|
+----------------+
|2498803.97400065|
+----------------+

In [0]:
#Group by Country

from pyspark.sql import SparkSession
from pyspark.sql.functions import expr,col, sum, avg, count, min, max

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

#while using group by we use agg instead of select
df.groupBy(col("Country"))\
    .agg(count(col("CustomerID")).alias("Total_Count"))\
    .show()

+---------------+-----------+
|        Country|Total_Count|
+---------------+-----------+
|         Sweden|        462|
|      Singapore|        229|
|        Germany|       9495|
|         France|       8491|
|         Greece|        146|
|        Belgium|       2069|
|        Finland|        695|
|          Italy|        803|
|           EIRE|       7485|
|      Lithuania|         35|
|         Norway|       1086|
|          Spain|       2533|
|        Denmark|        389|
|      Hong Kong|          0|
|        Iceland|        182|
|         Israel|        250|
|Channel Islands|        758|
|         Cyprus|        622|
|    Switzerland|       1877|
|        Lebanon|         45|
+---------------+-----------+
only showing top 20 rows

In [0]:
#Split and explode

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, avg, min, max,split,explode

spark = SparkSession.builder\
    .appName("Online_Retail")\
    .getOrCreate()

df = spark.read\
    .option("header",True)\
    .option("inferSchema",True)\
    .csv("/FileStore/tables/online_retail_dataset.csv")

df.show(5)

df.select(split(col("Description")," ").alias("Splitted_Description"))\
    .show(5)

df.withColumn("Splitted_Description", split(col("Description"), " "))\
    .withColumn("Exploded_Description", explode(col("Splitted_Description")))\
    .select("InvoiceNo","CustomerID","Exploded_Description")\
    .show(5)

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 5 rows

+--------------------+
|Splitted_Description|
+--------------------+
|[WHITE, HANGING, ...|
|[WHITE, METAL, LA...|
|[CREAM, CUPID, HE...|
|[KNITTED, UNION, ...|
|[RED, WOOLLY, HOT...|
+--------------------+
only showing top 5 rows

+---------+----------+--------------------+
|InvoiceNo|CustomerID|Exploded_Description|
+---------+----------+--------------------+
|   536365|     17850|               WHITE|
|   536365|     17850|             HANGING|
|   536365|     17850|               HEART|
|   536365|     17850|             T-LIGHT|
|   536365|     17850|              HOLDER|
+---------+----------+--------------------+
only showing top 5 rows